= render 'order_form', readonly: true
.btn-holder
  = button_to 'Changed my mind', edit_order_path(@order), :method => :get, class: "grey-btn edit-order-btn"
  = button_to 'Stay hungry', @order, :method => :delete, class: "grey-btn"